<nav class="navbar navbar-expand-lg bg-body-tertiary text-white">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="https://api.artic.edu/docs/assets/logo.svg" width="50px" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation"
        (click)="toggleCollapsed()">
       <span class="navbar-toggler-icon"></span>
     </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/">
                        <p class="display-6 text-white">Art Institute of Chicago</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active mt-3" aria-current="page" routerLink="/artworks">
                        <p class=" my-auto mx-3 text-white fs-4">Artworks</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a *ngIf="artworkService.wishlist.length!==0" matBadge="{{artworkService.wishlist.length}}" [ngStyle]="{'width':!collapsed?'30px':'90px'}" matBadgeOverlap="false" matBadgeColor="accent" class="nav-link my-auto mt-3 mx-2 text-white" href="/wishlist">
                        <span class="mx-1 fs-4 wishlist" *ngIf="collapsed">Wishlist</span>
                        <span class="mx-1 fs-4" *ngIf="!collapsed"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                          </svg></span>
                       
                    </a>
                    <a  *ngIf="artworkService.wishlist.length===0" [ngStyle]="{'width':!collapsed?'30px':'90px'}" matBadgeOverlap="false" matBadgeColor="accent" class="nav-link my-auto mt-3 mx-2 text-white" href="/wishlist">
                        <span class="mx-1 fs-4 wishlist" *ngIf="collapsed">Wishlist</span>
                        <span class="mx-1 fs-4" *ngIf="!collapsed"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                          </svg></span>
                       
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>