<div *ngIf="artworkData.length === 0" class="d-flex justify-content-center">
    <mat-spinner></mat-spinner>
</div>


<div class="container pt-4" *ngIf="artworkData.length !== 0">
    <p class="display-4">{{artworkData[0].title}}</p>
    <div class="d-flex justify-content-between flex-wrap">
        <div>
            <img class="me-auto" *ngIf="artworkData[0].image_id !== ''"
                src="https://www.artic.edu/iiif/2/{{artworkData[0].image_id}}/full/843,/0/default.jpg" width="90%"
                height="500px" alt="">
            <mat-spinner *ngIf="artworkData[0].image_id === ''"></mat-spinner>
        </div>
        <div class="me-auto">
            <div *ngIf="artworkData[0].category_titles.length !== 0">
                <h3 class="fw-bold">Categories:</h3>
                <ul>
                    <li *ngFor="let category of artworkData[0].category_titles">{{category}}</li>
                </ul>
            </div>
            <hr *ngIf="artworkData[0].artist_display!==null">
            <div *ngIf="artworkData[0].artist_display!==null">
                <h3 class="fw-bold">Artist</h3>
                <p class="fs-4"> {{artworkData[0].artist_display}}</p>
            </div>
            <hr *ngIf="artworkData[0].place_of_origin!==null">
            <div *ngIf="artworkData[0].place_of_origin!==null">
                <h3 class="fw-bold">Place of origin</h3>
                <p class="fs-4">{{artworkData[0].place_of_origin}}</p>
            </div>
            <hr *ngIf="artworkData[0].inscriptions!==null">
            <div *ngIf="artworkData[0].inscriptions!==null">
                <h3 class="fw-bold">Inscriptions</h3>
                <p class="fs-4">{{artworkData[0].inscriptions}}</p>
            </div>
            <div>
                <hr>
                <h3 class="fw-bold">Share <button style="border: none;background-color: rgb(252, 246, 245);" (click)="share()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share-fill" viewBox="0 0 16 16">
                    <path d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z"/>
                  </svg></button></h3>
            </div>
        </div>

    </div>
    <h3 class="fw-bold mt-3" *ngIf="artworkData[0].description !== null">Description : <span
            class="fw-normal">{{artworkData[0].description}}</span> </h3>
    <h3 class="fw-bold mt-3" *ngIf="artworkData[0].publication_history !== null">Publication History : <span
            class="fw-normal">{{artworkData[0].publication_history}}</span></h3>
    <h3 class="fw-bold mt-3" *ngIf="artworkData[0].exhibition_history !== null">Exhibition History : <span
            class="fw-normal">{{artworkData[0].exhibition_history}}</span></h3>


</div>