<div *ngIf="artworkData.length === 0" class="d-flex justify-content-center">
    <mat-spinner></mat-spinner>
</div>


<div class="container pt-4" *ngIf="artworkData.length !== 0">
    <p class="display-4">{{artworkData[0].title}}</p>
    <div class="d-flex justify-content-between flex-wrap">
        <div>
            <img class="me-auto" *ngIf="artworkData[0].image_id !== ''"
                src="https://www.artic.edu/iiif/2/{{artworkData[0].image_id}}/full/843,/0/default.jpg" width="90%"
                height="500px" alt="">
            <mat-spinner *ngIf="artworkData[0].image_id === ''"></mat-spinner>
        </div>
        <div class="me-auto">
            <div *ngIf="artworkData[0].category_titles.length !== 0">
                <h3 class="fw-bold">Categories:</h3>
                <ul>
                    <li *ngFor="let category of artworkData[0].category_titles">{{category}}</li>
                </ul>
            </div>
            <hr *ngIf="artworkData[0].artist_display!==null">
            <div *ngIf="artworkData[0].artist_display!==null">
                <h3 class="fw-bold">Artist</h3>
                <p class="fs-4"> {{artworkData[0].artist_display}}</p>
            </div>
            <hr *ngIf="artworkData[0].place_of_origin!==null">
            <div *ngIf="artworkData[0].place_of_origin!==null">
                <h3 class="fw-bold">Place of origin</h3>
                <p class="fs-4">{{artworkData[0].place_of_origin}}</p>
            </div>
            <hr *ngIf="artworkData[0].inscriptions!==null">
            <div *ngIf="artworkData[0].inscriptions!==null">
                <h3 class="fw-bold">Inscriptions</h3>
                <p class="fs-4">{{artworkData[0].inscriptions}}</p>
            </div>
            <div>
                <hr>

                <h3 class="fw-bold">Share</h3>
                <ul class="d-flex list-style-none gap-2 ms-0 ps-0">
                    <li class="list-group-item">
                        <a  href="" (click)="shareFacebook()" > 
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-facebook" viewBox="0 0 16 16">
                                <path
                                    d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z" />
                            </svg>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="" (click)="sharePinterest()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-pinterest" viewBox="0 0 16 16">
                                <path
                                    d="M8 0a8 8 0 0 0-2.915 15.452c-.07-.633-.134-1.606.027-2.297.146-.625.938-3.977.938-3.977s-.239-.479-.239-1.187c0-1.113.645-1.943 1.448-1.943.682 0 1.012.512 1.012 1.127 0 .686-.437 1.712-.663 2.663-.188.796.4 1.446 1.185 1.446 1.422 0 2.515-1.5 2.515-3.664 0-1.915-1.377-3.254-3.342-3.254-2.276 0-3.612 1.707-3.612 3.471 0 .688.265 1.425.595 1.826a.24.24 0 0 1 .056.23c-.061.252-.196.796-.222.907-.035.146-.116.177-.268.107-1-.465-1.624-1.926-1.624-3.1 0-2.523 1.834-4.84 5.286-4.84 2.775 0 4.932 1.977 4.932 4.62 0 2.757-1.739 4.976-4.151 4.976-.811 0-1.573-.421-1.834-.919l-.498 1.902c-.181.695-.669 1.566-.995 2.097A8 8 0 1 0 8 0z" />
                            </svg>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="" (click)="shareGoogle()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-google" viewBox="0 0 16 16">
                                <path
                                    d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z" />
                            </svg>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="" (click)="shareTwitter()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-twitter-x" viewBox="0 0 16 16">
                                <path
                                    d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865l8.875 11.633Z" />
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <h3 class="fw-bold mt-3" *ngIf="artworkData[0].description !== null">Description : <span
            class="fw-normal">{{artworkData[0].description}}</span> </h3>
    <h3 class="fw-bold mt-3" *ngIf="artworkData[0].publication_history !== null">Publication History : <span
            class="fw-normal">{{artworkData[0].publication_history}}</span></h3>
    <h3 class="fw-bold mt-3" *ngIf="artworkData[0].exhibition_history !== null">Exhibition History : <span
            class="fw-normal">{{artworkData[0].exhibition_history}}</span></h3>


</div>