<div class="container-fluid p-2">
   
    <img src="https://artic-web.imgix.net/8e2ae008-16a6-4f66-9f0e-9b9a5fc2778d/V05_P04-Press300ppi%2C3000px%2CsRGB%2CJPEG.jpg?rect=0%2C585%2C3000%2C1687&auto=format%2Ccompress&q=80&fit=crop&crop=faces%2Ccenter&w=1500&h=844" alt="Snow" style="width:100%;" class="rounded-2">
    <div class="centered container">
        <p class="h3 text-secondary">Home to a collection of art that spans centuries and the globe, the Art Institute of Chicago is located in the heart of the city—and is one of Tripadvisor’s “Best of the Best” US attractions of 2023.</p>
    
    <div class="d-flex flex-wrap align-items-center my-5 justify-content-evenly">
        <div class="col-lg-5 col-sm-12 m-3">
            <p class="h3 text-dark">Camille Claudel</p>
            <p class="h4 text-secondary">During that period, few women achieved celebrity in the field of sculpture, which, unlike painting or drawing, continued to be a largely male enterprise. Densely material, largely reliant on nude models, physically demanding, and bound up in male-dominated and politicized systems of state patronage, sculpture was not considered a polite art, and Claudel’s ambitions in that arena were transgressive. Her work prompted the critic Octave Mirbeau to famously exclaim, “We are in the presence of something unique, a revolt of nature: a woman genius.”</p>
        </div>
        <div class="col-lg-5 col-sm-12">
            <img width="100%" class="rounded-2" src="https://artic-web.imgix.net/7b336bcf-fab7-4faa-817f-8f15d3c904eb/gm_390711EX3_Original_Image17_Claudelimagebank-Press300ppi%2C3000px%2CsRGB%2CJPEG.jpg?rect=0%2C281%2C2384%2C1336&auto=format%2Ccompress&q=80&fit=crop&crop=faces%2Ccenter&w=400&h=225" alt="">
        </div>
    </div>
    <hr class="text-dark">
    <div class="d-flex flex-wrap align-items-center justify-content-evenly my-5">
        <div class="col-lg-5 col-sm-12 m-3">
            <img width="100%" class="rounded-2" src="https://artic-web.imgix.net/49b0fb23-c4a5-4eef-ab31-a0e447701ba4/Caravaggio-MarthaandMaryMagdalene-Web72ppi%2C2000px%2CsRGB%2CJPEG1.jpg?rect=0%2C0%2C2000%2C1125&auto=format%2Ccompress&q=80&fit=crop&crop=faces%2Ccenter&w=400&h=225" alt="">
        </div>
        <div class="col-lg-5 col-sm-12 m-3">
            <p class="h3 text-dark">Among Friends and Rivals: Caravaggio in Rome
            </p>
            <p class="h4 text-secondary">Whether for his large dramatic canvases or his larger-than-life persona, the name Caravaggio evokes images of turmoil and violence, both sacred and profane. Born in Milan in 1571, Michelangelo Merisi da Caravaggio entered the robust Roman art scene around 1592 and, over the next 14 years, developed an original and captivating painting style that attracted eminent patrons and passionate followers, thrusting him into the public eye. The artist became equally known for his wild behavior; a street brawler, Caravaggio was familiar with the shady underworld of taverns and their clientele, whom he frequently depicted in his work.

            </p>
        </div>
        
    </div>
    </div>
</div>

